<launch>
  <arg name="multi_robot_name" default=""/>
  <arg name="set_lidar_frame_id" default="base_scan"/>
  <arg name="model" default="waffle"/>

  <include file="package://turtlebot3_bringup/launch/turtlebot3_core-win.launch">
    <arg name="multi_robot_name" value="$(arg multi_robot_name)"/>
  </include>

  <include file="package://rplidar_ros/launch/rplidar_a3_win.launch">
    <arg name="set_frame_id" value="$(arg set_lidar_frame_id)"/>
  </include>

  <include file="package://turtlebot3_bringup/launch/includes/description.launch.xml">
    <arg name="model" value="$(arg model)" />
  </include>

  <node pkg="cv_camera" type="cv_camera_node" name="cv_camera" output="screen">
    <param name="rate" type="double" value="1.0" />
    <param name="image_width" type="int" value="640" />
    <param name="image_height" type="int" value="480" />
  </node>

  <node pkg="turtlebot3_bringup" type="turtlebot3_diagnostics" name="turtlebot3_diagnostics" output="screen"/>

  <node pkg="winml_tracker" type="winml_tracker_node" name="winml_tracker_node" output="screen" />
  
  <node pkg="winml_ros_demo" type="winml_ros_demo_node" name="winml_ros_demo_node" output="screen">
    <param name="field_of_view" type="double" value="70.0" />
    <param name="image_width" type="double" value="416.0" />
    <param name="min_distance" type="double" value="1.0" />
    <param name="max_distance" type="double" value="3.0" />
    <param name="tolerance" type="double" value="0.05" />
    <param name="scale" type="double" value="0.3" />
  </node>
  
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d package://winml_ros_demo/rviz/turtlebot3.rviz"/>  
</launch>